<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>Tabs</title>
    <meta name="description" content="Make the description concise and relevant">
    <meta name="keywords" content="use, primarily, internally">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/tabs.css">
    <script src="scripts/modernizr.js"></script>
  </head>
  <body>
    <header>
      <h1>Tab Menu</h1>
      <nav id="main_nav">
        <ul class="tabs">
          <li><h3 class="tab-label"><a href="tabs.html">Tab 1</a></h3></li>
          <li><h3 class="tab-label"><a href="tab2.html">Tab 2</a></h3></li>
          <li class="selected">
            <h3 class="tab-label"><a href="tab3.html">Tab 3</a></h3>
          </li>
          <li><h3 class="tab-label"><a href="tab4.html">Tab 4</a></h3></li>
        </ul>
      </nav>
    </header>  
    <section>
      <p>
        This is the content of the third tab.
      </p>
      <p>
        Pellentesque adipiscing nisi a urna molestie vehicula. Pellentesque eget vehicula est. Nam id fringilla velit. In eros sem, cursus eget faucibus porta, auctor quis eros. Curabitur quis sem risus. Etiam tempor eros a metus luctus a mollis lacus dictum. Curabitur sodales volutpat tellus, ut imperdiet neque euismod a. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque eget tortor elit. Sed fermentum lobortis ligula, eu tincidunt enim ullamcorper dignissim. Vestibulum eleifend molestie bibendum. Mauris consequat purus et purus semper ultrices. Cras mi odio, euismod vel rutrum vitae, rhoncus at mi. Praesent id sapien a lacus lobortis fermentum.
      </p>
    </section>  
  </body>
</html>