<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>Tabs</title>
    <meta name="description" content="Make the description concise and relevant">
    <meta name="keywords" content="use, primarily, internally">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/tabs.css">
    <script src="scripts/modernizr.js"></script>
  </head>
  <body>
    <header>
      <h1>Tab Menu</h1>
      <nav id="main_nav">
        <ul class="tabs">
          <li><h3 class="tab-label"><a href="tabs.html">Tab 1</a></h3></li>
          <li><h3 class="tab-label"><a href="tab2.html">Tab 2</a></h3></li>
          <li><h3 class="tab-label"><a href="tab3.html">Tab 3</a></h3></li>
          <li class="selected">
            <h3 class="tab-label"><a href="tab4.html">Tab 4</a></h3>
          </li>
        </ul>
      </nav>
    </header>  
    <section>
      <p>
        This is the content of the fourth tab.
      </p>
      <p>
        Nullam vel metus dolor, et imperdiet neque. In in urna nisi. Nullam ac ligula odio. Vivamus nulla tortor, blandit in pretium vel, mattis ac felis. Aliquam erat volutpat. Donec mollis pretium ultrices. Vivamus purus dolor, lacinia sit amet laoreet non, vestibulum non diam. Suspendisse gravida, augue sit amet auctor fermentum, enim risus vulputate orci, eu sagittis nulla elit et ipsum. Praesent nec leo mi. Donec in nibh purus. Vivamus euismod nulla elementum nibh viverra accumsan. Curabitur iaculis scelerisque cursus. Morbi vehicula interdum vehicula. Aenean posuere, magna vitae vulputate porttitor, est neque adipiscing nisi, et congue lacus nulla a elit.
      </p>
    </section>  
  </body>
</html>